{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped nowrap">
    <thead>
      <tr>
        <th>Banner</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Group</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}
 
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        serverSide: true,
        responsive: true,
        pageLength: 50,
        columns : [
            {data : 'banner_data', render: function(data) {
                return '<img src="data:image/png;base64, ' + data + '" height=80 width=210 />'
            }},
            {data : 'title', searchable: true, orderable: true},
            {data : 'artist', searchable: true, orderable: true},
            {data : 'group', searchable: true, orderable: true},
        ],
      });
    });
  </script>
{% endblock %}
